@model List<ReportModelGeneral>
<h1>Buffered File Upload</h1>

<hr />

<form method="post"asp-action="Index" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
        <p>@ViewBag.cnt    &amp;      @ViewBag.test </p>
    </div>
}
@{
    int cnt = 0;
    try
    {
        cnt = Convert.ToInt32(ViewData["cnt"]);
    }
    catch (Exception e)
    {
        
    }
    cnt = Convert.ToInt32(ViewData["cnt"]);
}
@if (  Model != null || cnt > 0)
{
    <table class="table table-bordered table-responsive-md">
        <tr><th>Order</th><th>Cust</th></tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.OrderNumber
                </td>
                <td>@item.CustName</td>
            </tr>
          
        }
    </table>
}
